this is a regression notebook to for the used car data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/02_extract.csv')

In [ ]:
X = data.drop(['price'], axis = 1)
Y = data['price']

x_train, x_test, y_train, y_test = train_test_split( X, Y, test_size=0.20, random_state=1, shuffle = True)

In [ ]:
x_train.shape

(86602, 20)

In [ ]:
# lets create the OLS model
# step1: add constant with x values
x_train1 = sm.add_constant(x_train)
#step2 : fit model and check the co-efficients
model = sm.OLS(y_train, x_train1)
res = model.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.824
Method:                 Least Squares   F-statistic:                 2.028e+04
Date:                Thu, 04 Feb 2021   Prob (F-statistic):               0.00
Time:                        01:59:07   Log-Likelihood:                 7157.2
No. Observations:               86602   AIC:                        -1.427e+04
Df Residuals:                   86581   BIC:                        -1.408e+04
Df Model:                          20
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     10.2970      0.093    111.252      0.000      10.116      10.478
mileage                   -0.0129      0.001    -18.794      0.000      -0.014      -0.012
engineSize                 0.7482      0.004    203.750      0.000       0.741       0.755
carAge                    -0.5773      0.002   -280.275      0.000      -0.581      -0.573
transmission_Automatic     0.0026      0.091      0.028      0.977      -0.176       0.181
transmission_Manual       -0.1443      0.091     -1.586      0.113      -0.323       0.034
transmission_Semi-Auto     0.0149      0.091      0.164      0.870      -0.163       0.193
fuelType_Diesel           -0.1425      0.016     -8.902      0.000      -0.174      -0.111
fuelType_Electric          0.0945      0.130      0.729      0.466      -0.160       0.349
fuelType_Hybrid            0.0578      0.016      3.513      0.000       0.026       0.090
fuelType_Petrol           -0.0734      0.016     -4.599      0.000      -0.105      -0.042
make_audi                  0.1486      0.004     34.307      0.000       0.140       0.157
make_bmw                   0.0108      0.004      2.422      0.015       0.002       0.020
make_cclass                0.0817      0.006     14.815      0.000       0.071       0.092
make_ford                 -0.0508      0.004    -13.169      0.000      -0.058      -0.043
make_hyundi               -0.1779      0.005    -35.882      0.000      -0.188      -0.168
make_merc                  0.1172      0.004     26.847      0.000       0.109       0.126
make_skoda                -0.1145      0.005    -24.620      0.000      -0.124      -0.105
make_toyota               -0.2178      0.005    -45.128      0.000      -0.227      -0.208
make_vauxhall             -0.2928      0.004    -72.672      0.000      -0.301      -0.285
make_vw                   -0.0063      0.004     -1.581      0.114      -0.014       0.002
==============================================================================
Omnibus:                    18828.282   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           122978.495
Skew:                          -0.889   Prob(JB):                         0.00
Kurtosis:                       8.561   Cond. No.                     2.35e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.35e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# stepwise regression
x_train1 = x_train1.drop(['transmission_Automatic', 'fuelType_Electric', 'make_vw'], axis = 1)
model1 = sm.OLS(y_train, x_train1)
res = model1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.824
Method:                 Least Squares   F-statistic:                 2.385e+04
Date:                Thu, 04 Feb 2021   Prob (F-statistic):               0.00
Time:                        02:00:23   Log-Likelihood:                 7155.7
No. Observations:               86602   AIC:                        -1.428e+04
Df Residuals:                   86584   BIC:                        -1.411e+04
Df Model:                          17
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     10.2957      0.017    617.866      0.000      10.263      10.328
mileage                   -0.0129      0.001    -18.754      0.000      -0.014      -0.012
engineSize                 0.7477      0.004    204.463      0.000       0.740       0.755
carAge                    -0.5773      0.002   -280.334      0.000      -0.581      -0.573
transmission_Manual       -0.1468      0.002    -61.366      0.000      -0.152      -0.142
transmission_Semi-Auto     0.0120      0.002      5.055      0.000       0.007       0.017
fuelType_Diesel           -0.1433      0.016     -9.021      0.000      -0.174      -0.112
fuelType_Hybrid            0.0570      0.016      3.491      0.000       0.025       0.089
fuelType_Petrol           -0.0742      0.016     -4.688      0.000      -0.105      -0.043
make_audi                  0.1534      0.003     49.841      0.000       0.147       0.159
make_bmw                   0.0157      0.003      4.923      0.000       0.009       0.022
make_cclass                0.0866      0.005     19.058      0.000       0.078       0.096
make_ford                 -0.0463      0.003    -17.885      0.000      -0.051      -0.041
make_hyundi               -0.1733      0.004    -43.186      0.000      -0.181      -0.165
make_merc                  0.1221      0.003     39.920      0.000       0.116       0.128
make_skoda                -0.1098      0.004    -30.432      0.000      -0.117      -0.103
make_toyota               -0.2132      0.004    -55.401      0.000      -0.221      -0.206
make_vauxhall             -0.2882      0.003   -102.805      0.000      -0.294      -0.283
==============================================================================
Omnibus:                    18808.476   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           122649.657
Skew:                          -0.888   Prob(JB):                         0.00
Kurtosis:                       8.553   Cond. No.                         407.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
x_train1 = x_train1.drop(['const'], axis = 1)

In [ ]:
regressor = LinearRegression()
regressor.fit(x_train1, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
x_test1 = x_test.drop(['transmission_Automatic', 'fuelType_Electric', 'make_vw'], axis = 1)
y_pred = regressor.predict(x_test1)

In [ ]:
coeff_df = pd.DataFrame(regressor.coef_, x_test1.columns, columns=['Coefficient'])
coeff_df

                        Coefficient
mileage                   -0.012893
engineSize                 0.747658
carAge                    -0.577349
transmission_Manual       -0.146837
transmission_Semi-Auto     0.012042
fuelType_Diesel           -0.143286
fuelType_Hybrid            0.057047
fuelType_Petrol           -0.074238
make_audi                  0.153436
make_bmw                   0.015725
make_cclass                0.086610
make_ford                 -0.046288
make_hyundi               -0.173260
make_merc                  0.122082
make_skoda                -0.109832
make_toyota               -0.213196
make_vauxhall             -0.288205

In [ ]:
y_test = np.exp(y_test)
y_pred = np.exp(y_pred)

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

        Actual     Predicted
10326  11100.0   7951.335293
40134  17998.0  13337.424638
70027  17595.0  17637.642757
3394    9509.0  13823.405680
78386  12990.0  14029.815446
...        ...           ...
92401  12895.0  10846.922148
91694   4200.0  10007.872683
83363  24970.0  32275.469205
3269    3990.0   4358.440061
21742  33789.0  30196.489083

[21651 rows x 2 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/01_prediction.csv', index = False)

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2824.262105612366
Mean Squared Error: 21294191.435545214
Root Mean Squared Error: 4614.562973407689

#####################################################################################

In [ ]:
# let's do it without normalizing data
data = pd.read_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/01_extract.csv')

X = data.drop(['price' ], axis = 1)
Y = data['price']
x_train, x_test, y_train, y_test = train_test_split( X, Y, test_size=0.20, random_state=1, shuffle = True)

In [ ]:
x_train1 = sm.add_constant(x_train)
model1 = sm.OLS(y_train, x_train1)
res = model1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.773
Model:                            OLS   Adj. R-squared:                  0.773
Method:                 Least Squares   F-statistic:                 1.477e+04
Date:                Thu, 04 Feb 2021   Prob (F-statistic):               0.00
Time:                        02:05:06   Log-Likelihood:            -8.5387e+05
No. Observations:               86602   AIC:                         1.708e+06
Df Residuals:                   86581   BIC:                         1.708e+06
Df Model:                          20
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                   5501.3754    467.917     11.757      0.000    4584.262    6418.488
mileage                   -0.0939      0.001    -80.435      0.000      -0.096      -0.092
engineSize              1.029e+04     39.787    258.743      0.000    1.02e+04    1.04e+04
carAge                 -1556.4397     11.375   -136.830      0.000   -1578.734   -1534.145
transmission_Automatic  2199.1641    406.933      5.404      0.000    1401.579    2996.749
transmission_Manual      268.4633    406.764      0.660      0.509    -528.792    1065.718
transmission_Other       262.3384   1497.974      0.175      0.861   -2673.677    3198.354
transmission_Semi-Auto  2771.4096    407.106      6.808      0.000    1973.486    3569.333
fuelType_Diesel         -554.7979    474.702     -1.169      0.243   -1485.209     375.614
fuelType_Electric        -90.7983   2211.245     -0.041      0.967   -4424.819    4243.222
fuelType_Hybrid         2349.9418    480.395      4.892      0.000    1408.372    3291.512
fuelType_Other          2333.3616    543.010      4.297      0.000    1269.067    3397.656
fuelType_Petrol         1463.6683    474.236      3.086      0.002     534.170    2393.166
make_audi               3799.7133     66.356     57.263      0.000    3669.657    3929.770
make_bmw                1122.8249     68.259     16.449      0.000     989.038    1256.612
make_cclass             2309.3014     91.111     25.346      0.000    2130.725    2487.878
make_focus               897.5249     79.706     11.260      0.000     741.301    1053.749
make_ford                 83.6762     59.024      1.418      0.156     -32.009     199.362
make_hyundi            -1492.9706     82.302    -18.140      0.000   -1654.282   -1331.659
make_merc               3297.8160     65.787     50.129      0.000    3168.875    3426.757
make_skoda              -644.5309     75.221     -8.569      0.000    -791.963    -497.099
make_toyota            -2081.0502     79.098    -26.310      0.000   -2236.081   -1926.019
make_vauxhall          -2790.6094     62.550    -44.614      0.000   -2913.207   -2668.012
make_vw                  999.6798     59.766     16.727      0.000     882.539    1116.821
==============================================================================
Omnibus:                    70985.622   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7263614.825
Skew:                           3.356   Prob(JB):                         0.00
Kurtosis:                      47.361   Cond. No.                     4.89e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.54e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
# stepwise regression
x_train1 = x_train1.drop(['fuelType_Electric', 'transmission_Other', 'make_vw', 
                          'transmission_Manual', 'fuelType_Diesel', 'make_focus', 'make_bmw'
                          ], axis = 1)
model1 = sm.OLS(y_train, x_train1)
res = model1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.773
Model:                            OLS   Adj. R-squared:                  0.773
Method:                 Least Squares   F-statistic:                 1.846e+04
Date:                Thu, 04 Feb 2021   Prob (F-statistic):               0.00
Time:                        02:13:33   Log-Likelihood:            -8.5387e+05
No. Observations:               86602   AIC:                         1.708e+06
Df Residuals:                   86585   BIC:                         1.708e+06
Df Model:                          16
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                   6186.6407     83.839     73.792      0.000    6022.318    6350.964
mileage                   -0.0938      0.001    -80.401      0.000      -0.096      -0.092
engineSize              1.032e+04     38.602    267.296      0.000    1.02e+04    1.04e+04
carAge                 -1556.6142     11.375   -136.851      0.000   -1578.908   -1534.320
transmission_Automatic  1947.7434     49.159     39.621      0.000    1851.392    2044.095
transmission_Semi-Auto  2526.4114     48.170     52.448      0.000    2431.999    2620.823
fuelType_Hybrid         2895.6083    110.319     26.248      0.000    2679.384    3111.832
fuelType_Other          2890.3275    332.465      8.694      0.000    2238.699    3541.956
fuelType_Petrol         2018.9960     39.049     51.704      0.000    1942.461    2095.531
make_audi               2768.4555     58.569     47.269      0.000    2653.661    2883.250
make_cclass             1268.8121     89.857     14.120      0.000    1092.694    1444.930
make_ford               -924.0692     50.988    -18.123      0.000   -1024.006    -824.132
make_hyundi            -2505.1062     81.415    -30.769      0.000   -2664.680   -2345.533
make_merc               2257.6298     56.697     39.819      0.000    2146.504    2368.756
make_skoda             -1659.7709     72.512    -22.890      0.000   -1801.894   -1517.648
make_toyota            -3093.7845     77.836    -39.748      0.000   -3246.342   -2941.227
make_vauxhall          -3799.5821     55.616    -68.318      0.000   -3908.589   -3690.576
==============================================================================
Omnibus:                    70928.900   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7243663.225
Skew:                           3.352   Prob(JB):                         0.00
Kurtosis:                      47.300   Cond. No.                     6.61e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.61e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
regressor = LinearRegression()
regressor.fit(x_train1.drop(['const'], axis = 1), y_train)
y_pred = regressor.predict(x_test.drop(['fuelType_Electric', 'transmission_Other', 'make_vw', 
                          'transmission_Manual', 'fuelType_Diesel', 'make_focus', 'make_bmw'], axis = 1))

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2970.6310512321006
Mean Squared Error: 21715375.818851154
Root Mean Squared Error: 4659.975946166584

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/02_prediction.csv', index = False)
df

       Actual     Predicted
10326   11100   9199.227825
40134   17998  12280.511372
70027   17595  20383.452778
3394     9509  15447.823793
78386   12990  16901.359400
...       ...           ...
92401   12895  11135.915195
91694    4200   3388.258097
83363   24970  29937.114117
3269     3990  -7643.868800
21742   33789  28400.039646

[21651 rows x 2 columns]

so we are going with the logged values for further steps

In [ ]:
# Ahhhhhh! I hate to scroll up , let's read the data and start again :)
data = pd.read_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/02_extract.csv')

X = data.drop(['price'], axis = 1)
Y = data['price']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1, shuffle = True)

In [ ]:
# setting up polynomial features
polynomial_features= PolynomialFeatures(degree=2)
x_train_poly = polynomial_features.fit_transform(x_train)

In [ ]:
model = LinearRegression()
model.fit(x_train_poly, y_train)
x_test_poly = polynomial_features.fit_transform(x_test)
y_pred = model.predict(x_test_poly)

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1113.654110263331
Mean Squared Error: 13916810409.409973
Root Mean Squared Error: 117969.53169954508

In [ ]:

y_test = np.exp(y_test)
y_pred = np.exp(y_pred)

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/03_prediction.csv', index = False)
df

        Actual     Predicted
10326  11100.0   8107.327366
40134  17998.0  12901.609616
70027  17595.0  19368.306632
3394    9509.0  14196.906220
78386  12990.0  15429.291328
...        ...           ...
92401  12895.0  11682.617420
91694   4200.0   6707.648805
83363  24970.0  32329.517530
3269    3990.0   3722.135170
21742  33789.0  33393.924750

[21651 rows x 2 columns]

In [ ]:

y_train_pred = model.predict(x_train_poly)

In [ ]:

y_test = np.exp(y_train)
y_pred = np.exp(y_train_pred)

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/04_prediction.csv', index = False)
df

         Actual     Predicted
7878    11700.0  11220.433847
57473   13782.0  17224.578773
97830    6550.0   8493.964878
25172   17495.0  20578.737329
100459  24990.0  30658.756162
...         ...           ...
50057   16000.0  12219.870605
98047   10000.0   8874.245084
5192    10599.0   8893.344499
77708   30709.0  32872.372129
98539   11995.0  10446.590492

[86602 rows x 2 columns]

In [ ]:
# Let's do ridge regression
data = pd.read_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/02_extract.csv')

X = data.drop(['price'], axis = 1)
Y = data['price']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1, shuffle = True)

In [ ]:
rr = Ridge(alpha=0.01)
rr.fit(x_train, y_train)
y_pred = rr.predict(x_test)

In [ ]:
y_test = np.exp(y_test)
y_pred = np.exp(y_pred)

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2823.817370316931
Mean Squared Error: 21288448.04032588
Root Mean Squared Error: 4613.940619505834

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/05_prediction.csv', index = False)
df

        Actual     Predicted
10326  11100.0   7951.192877
40134  17998.0  13334.819986
70027  17595.0  17609.586494
3394    9509.0  13823.515429
78386  12990.0  14026.064404
...        ...           ...
92401  12895.0  10846.563470
91694   4200.0  10006.482803
83363  24970.0  32276.461525
3269    3990.0   4357.699733
21742  33789.0  30201.846040

[21651 rows x 2 columns]

In [ ]:
# Let's do lasso regression
data = pd.read_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/02_extract.csv')

X = data.drop(['price'], axis = 1)
Y = data['price']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1, shuffle = True)

rr = Lasso(alpha=0.01)
rr.fit(x_train, y_train)
y_pred = rr.predict(x_test)

y_test = np.exp(y_test)
y_pred = np.exp(y_pred)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 3028.8600600595164
Mean Squared Error: 24495358.633486997
Root Mean Squared Error: 4949.278597279304

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/06_prediction.csv', index = False)
df

        Actual     Predicted
10326  11100.0   8524.686666
40134  17998.0  13107.916786
70027  17595.0  17421.871967
3394    9509.0  14448.747360
78386  12990.0  12191.656798
...        ...           ...
92401  12895.0  12683.350788
91694   4200.0   9795.841627
83363  24970.0  28305.742490
3269    3990.0   5180.068750
21742  33789.0  28406.343255

[21651 rows x 2 columns]

In [ ]:
# Let's do elasticNet regression
data = pd.read_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/02_extract.csv')

X = data.drop(['price'], axis = 1)
Y = data['price']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1, shuffle = True)

rr = ElasticNet(alpha=0.01)
rr.fit(x_train, y_train)
y_pred = rr.predict(x_test)

y_test = np.exp(y_test)
y_pred = np.exp(y_pred)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2954.872894318655
Mean Squared Error: 23566543.508423563
Root Mean Squared Error: 4854.538444427396

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.to_csv('/content/drive/MyDrive/end2end_DS/100K_UK_used_car/data_sets/final_dataSets/07_prediction.csv', index = False)
df

        Actual     Predicted
10326  11100.0   8248.097912
40134  17998.0  13152.327515
70027  17595.0  17365.654368
3394    9509.0  14029.078003
78386  12990.0  12762.755144
...        ...           ...
92401  12895.0  12389.505241
91694   4200.0   9672.487056
83363  24970.0  29513.863924
3269    3990.0   5008.942127
21742  33789.0  29717.164769

[21651 rows x 2 columns]